@import url("fonts.css");

@import url("reset.css");

body {
	background: #e0e4db;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
	position: relative;
}

/* ================== Header ===================== */

.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: linear-gradient(0deg, rgba(34, 195, 177, 1) 0%, rgba(253, 237, 45, 1) 100%);
	z-index: 100;
	margin-bottom: 10px;
}

/* ===================== Main ====================== */


.page--container {
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 15px;
}

.page__transformation {
	margin-bottom: 200px;
}

/* ---------------------------- Translate --------------------------------------- */

.transform__translate {
	margin: 0 auto 100px;
	text-align: center;
}

.transform__items {
	font-size: 0;
	margin: 0 auto;
}

.transform__items--margin {
	margin-top: 70px;
	margin-bottom: 100px;
}

.transform__item {
	display: inline-block;
	font-size: 20px;
	width: 200px;
	background: radial-gradient(circle, rgba(187, 233, 206, 1) 1%, rgb(201, 172, 132) 100%);
}

.transform__item:not(:last-child) {
	margin-right: 150px;
}

.transform__item1,
.transform__item2,
.transform__item3,
.transform__item4 {
	display: inline-block;
	font-size: 20px;
	width: 200px;
	height: 200px;
	background: radial-gradient(circle, rgba(63, 203, 251, 1) 0%, rgba(247, 70, 252, 1) 100%);
	padding: 70px 0px;
}

.transform__item1 {
	position: relative;
	top: 30px;
	left: 30px;
}

.transform__item2 {
	transform: translate(30px, 30px);
}


.transform__item3 {
	position: relative;
	top: -10%;
	left: -10%;
}

.transform__item4 {
	transform: translate(-10%, -10%);
}

.transform__item5,
.transform__item6 {
	display: inline-block;
	font-size: 20px;
	width: 200px;
	background: radial-gradient(circle, rgba(63, 203, 251, 1) 0%, rgba(247, 70, 252, 1) 100%);
}

.transform__item5 {
	transform: translate(20%, 20%);
}

.transform__item6 {
	transform: translate(20%, 20%);
}

.dif {
	font-size: 20px;
	max-width: 800px;
	margin: 0 auto;
}

.dif-item {
	border: 2px solid #40eb29;
}

.dif-item li:first-child {
	background: #e098c5;
}

.dif-item li:nth-child(2) {
	background: #ccc77a;
	color: rgb(231, 29, 90);
}

.dif-item li:last-child {
	background: #a0d1dd;
}

.dif-item:not(:last-child) {
	margin-bottom: 50px;
}

/* ------------ Difference ------------------- */

.dif__margin-plus li:nth-child(2) {
	margin-top: -30px;
}

.dif__pos-rel-plus li:nth-child(2) {
	position: relative;
	top: -30px;
	left: 0;
}

.dif__translate-plus li:nth-child(2) {
	transform: translate(0px, -30px);
}

.dif__margin-minus li:nth-child(2) {
	margin-bottom: -30px;
	position: relative;
}

.dif__pos-rel-minus li:nth-child(2) {
	position: relative;
	top: 30px;
	left: 0;
}

.dif__translate-minus li:nth-child(2) {
	transform: translate(0px, 30px);
}

/* ----------------------- Scale ------------------ */

.transform__scale {
	font-size: 0;
	text-align: center;
	margin: 0 auto 100px;
}

.scale__items {
	display: inline-block;
	font-size: 20px;
	width: 200px;
	height: 200px;
	background: radial-gradient(circle, rgba(187, 233, 206, 1) 1%, rgb(201, 172, 132) 100%);
	vertical-align: middle;
}

.scale__items:not(:last-child) {
	margin: 0px 30px 30px 0px;
}

.scale__items:last-of-type {
	margin-top: -30px;
}

[class*="--color1"] {
	display: inline-block;
	font-size: 20px;
	width: 200px;
	height: 200px;
	background: radial-gradient(circle, rgba(63, 203, 251, 1) 0%, rgba(247, 70, 252, 1) 100%);
	padding: 33.33% 10px;
}

.scale__items:hover .scale__item1 {
	transform: scale(0.5);
}

.scale__items:hover .scale__item2 {
	transform: scale(1.2, 0.8);
}

.scale__items:hover .scale__item3 {
	transform: scale(-1, 1);
}

.scale__items:hover .scale__item4 {
	transform: scale(1, -1);
}

.scale__item5:hover {
	transform: scale(1.2);
}

.scale__items:hover .scale__item6 {
	transform: scale(-0.8);
}

/* ----------------------- Rotate ---------------------- */

.transform__rotate {
	font-size: 0;
	text-align: center;
	margin: 0 auto 100px;
}

.rotate__items {
	display: inline-block;
	font-size: 20px;
	width: 200px;
	height: 200px;
	background: radial-gradient(circle, rgba(187, 233, 206, 1) 1%, rgb(201, 172, 132) 100%);
	vertical-align: middle;
}

.rotate__items:not(:last-child) {
	margin: 0px 30px 30px 0px;
}

.rotate__items:last-of-type {
	margin-top: -30px;
}

.rotate__items:hover .rotate__item {
	transform: rotate(9deg);
}

.rotate__items:hover .rotate__item1 {
	transform: rotate(-9deg);
}

.rotate__items:hover .rotate__item2 {
	transform: rotate(90deg);
}

.rotate__items:hover .rotate__item3 {
	transform: rotate(180deg);
}

.rotate__items:hover .rotate__item4 {
	transform: rotate(60deg);
}

.rotate__items:hover .rotate__item5 {
	transform: rotateX(30deg);
}

.rotate__items:hover .rotate__item6 {
	transform: rotateX(60deg);
}

.rotate__items:hover .rotate__item7 {
	transform: rotateY(30deg);
}

.rotate__items:hover .rotate__item8 {
	transform: rotateY(60deg);
}

/* ------------------- Skew -------------------- */

.transform__skew {
	font-size: 0;
	text-align: center;
	margin: 0 auto 100px;
}

.skew__items {
	display: inline-block;
	font-size: 20px;
	width: 200px;
	height: 200px;
	background: radial-gradient(circle, rgba(187, 233, 206, 1) 1%, rgb(201, 172, 132) 100%);
	vertical-align: middle;
}

.skew__items:not(:last-child) {
	margin: 0px 30px 30px 0px;
}

.skew__items:last-of-type {
	margin-top: -30px;
}

.skew__items:hover .skew__item {
	transform: skewX(15deg);
}

.skew__items:hover .skew__item1 {
	transform: skewY(15deg);
}

.skew__items:hover .skew__item2 {
	transform: skew(15deg);
}

.skew__items:hover .skew__item3 {
	transform: skew(15deg, 15deg);
}

.skew__item4 {
	position: relative;
}


.skew__item4 span {
	position: relative;
}

.skew__item4::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: radial-gradient(circle, rgba(63, 203, 251, 1) 0%, rgba(247, 70, 252, 1) 100%);
	transform: skew(20deg);
}

.skew__item4:hover::before {
	transform: skew(-20deg);
}

/* -------------------- Origin -------------------- */

.transform__origin {
	font-size: 0;
	text-align: center;
	margin: 0 auto 100px;
}

.origin__items {
	display: inline-block;
	font-size: 20px;
	width: 200px;
	height: 200px;
	background: radial-gradient(circle, rgba(187, 233, 206, 1) 1%, rgb(201, 172, 132) 100%);
	vertical-align: middle;
}

.origin__items:not(:last-child) {
	margin: 0px 30px 30px 0px;
}

.origin__items:last-of-type {
	margin-top: -30px;
}

.origin__items:hover .origin__item {
	transform: skewX(15deg);
	transform-origin: 0 0;
}

.origin__items:hover .origin__item1 {
	transform: skewY(15deg);
	transform-origin: right bottom;
}

.origin__items:hover .origin__item2 {
	transform: skew(15deg);
	transform-origin: 0 80%;
}

.origin__items:hover .origin__item3 {
	transform: skew(15deg, 15deg);
	transform-origin: -20px 50px;
}

/* ---------------------- 3D-transformation --------------------- */

.transform__block-3d {
	font-size: 0;
	text-align: center;
	margin: 0 auto 100px;
}

.block-3d__items {
	display: inline-block;
	font-size: 20px;
	width: 200px;
	height: 200px;
	background: radial-gradient(circle, rgba(187, 233, 206, 1) 1%, rgb(201, 172, 132) 100%);
	vertical-align: middle;
	perspective: 200px;
	perspective-origin: center;
}

.block-3d__items:not(:last-child) {
	margin: 0px 30px 30px 0px;
}

.block-3d__items:last-of-type {
	margin-top: -30px;
}

.block-3d__items:hover .block-3d__item {
	transform: translate3d(10px, 30px, -10px);
}

.block-3d__items--origin {
	perspective-origin: -400px 500px;
}

.block-3d__items:hover .block-3d__item1 {
	transform: translate3d(-10px, -30px, 20px);
}

.block-3d__items:hover .block-3d__item2 {
	transform: rotate3d(30, -230, 0, 320deg);
}

.block-3d__items--origin1 {
	perspective: 100px;
}

.block-3d__items:hover .block-3d__item3 {
	transform: rotate3d(30, -230, 0, 30deg);
}

.block-3d__items--abs {
	position: relative;
}

.block-3d__items--abs p {
	padding: 40% 10px;
}

.block-3d__item4 {
	position: absolute;
	top: 150px;
	left: 0;
	visibility: hidden;
	font-size: 20px;
	padding: 0;
}

.block-3d__items:hover .block-3d__item4 {
	transform: rotate3d(50, 0, 0, 30deg);
	visibility: visible;
}

/* ---------------------- Style ---------------------- */

.transform__style {
	font-size: 0;
	text-align: center;
	margin: 0 auto 100px;
}

.style__items {
	display: inline-block;
	font-size: 20px;
	width: 200px;
	height: 200px;
	background: radial-gradient(circle, rgba(187, 233, 206, 0.4) 1%, rgb(201, 172, 132) 100%);
	vertical-align: middle;
	perspective: 200px;
	perspective-origin: center;
}

.style__items:not(:last-child) {
	margin: 0px 30px 30px 0px;
}

.style__items:last-of-type {
	margin-top: -30px;
}

.style__items--flat {
	transform-style: flat;
}

.style__items--flat:hover .style__item {
	transform: rotateY(40deg);
}

.style__items--preserve3d {
	transform-style: preserve-3d;
}

.style__items--preserve3d:hover .style__item1 {
	transform: rotateY(40deg);
}

/* ---------------------- Backface ------------------------- */

.transform__backface {
	font-size: 0;
	text-align: center;
	margin: 0 auto 100px;
}

.backface__items {
	display: inline-block;
	font-size: 20px;
	width: 200px;
	height: 200px;
	background: radial-gradient(circle, rgba(187, 233, 206, 1) 1%, rgb(201, 172, 132) 100%);
	vertical-align: middle;
	perspective: 200px;
	perspective-origin: center;
}

.backface__items:not(:last-child) {
	margin: 0px 30px 30px 0px;
}

.backface__items:last-of-type {
	margin-top: -30px;
}

.backface__items--visible {
	transform-style: preserve-3d;
}

.backface__items--visible:hover .backface__item {
	transform: rotateY(180deg);
	backface-visibility: visible;
}

.backface__items--hidden {
	transform-style: preserve-3d;
}

.backface__items--hidden:hover .backface__item1 {
	transform: rotateY(180deg);
	backface-visibility: hidden;
}

/* -------------------------- Flip-card ------------------------ */


.transform__flip {}

.flip {
	perspective: 500px;
	transform-style: preserve-3d;
}

.flip__body {
	position: relative;
	font-size: 20px;
	width: 200px;
	height: 200px;
	transform-style: preserve-3d;
	background: radial-gradient(circle, rgba(187, 233, 206, 1) 1%, rgb(201, 172, 132) 100%);
	margin: 0 auto;
	text-align: center;
}

.flip__body span {
	display: inline-block;
	padding: 45% 0px;
}

.flip__front,
.flip__back {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0 auto;
}

.flip__front {
	background: radial-gradient(circle, rgba(63, 203, 251, 1) 0%, rgba(247, 70, 252, 1) 100%);
	transform: rotateY(0deg);
	backface-visibility: hidden;
}

.flip__back {
	background: radial-gradient(circle, rgba(187, 233, 206, 1) 1%, rgb(201, 172, 132) 100%);
	transform: rotateY(-180deg);
}

.flip__body:hover .flip__back {
	transform: rotateY(0deg);
}

.flip__body:hover .flip__front {
	transform: rotateY(180deg);
}


/* ----------------------- Car -------------------------- */

.page__car {
	background: url("img/road.webp") 0 0 / 100% no-repeat;
	width: 1300px;
	height: 1122px;
	margin: 0 auto 100px;
	position: relative;
	border: 5px solid rgb(66, 86, 172);
}

.car__image {
	width: 100%;
	height: 100%;
	opacity: 0.1;
}

.panzer {
	width: 600px;
	height: 300px;
	position: absolute;
	top: 675px;
	left: 300px;
}

.turret {
	font-size: 0;
}

.turret__item {
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 1px solid #383d38;
	position: absolute;
}

.turret div:last-child {
	width: 350px;
	height: 10px;
	top: 110px;
	left: 225px;
	background: #454246;
}

.turret div:nth-child(2) {
	width: 200px;
	height: 50px;
	top: 60px;
	left: 246px;
	background: #5d5b5e;
	transform: skew(-40deg);
	border-radius: 10px 90px 25px 100px;
}

.turret div:nth-child(3) {
	width: 60px;
	height: 25px;
	top: 70px;
	left: 230px;
	background: #939094;
	transform: skew(13deg);
	border-radius: 10px 0 0 0;
}

.turret div:nth-child(4) {
	width: 60px;
	height: 25px;
	top: 104px;
	left: 167px;
	background: #939094;
	border-radius: 10px 10px 0 0;
}

.turret div:nth-child(5) {
	width: 60px;
	height: 25px;
	top: 36px;
	left: 353px;
	background: #939094;
	border-radius: 39px 10px 0 0;
}

.turret div:first-child {
	width: 150px;
	height: 8px;
	top: 81px;
	left: 88px;
	background: linear-gradient(90deg, rgba(148, 154, 149, 1) 25%, rgba(74, 80, 80, 1) 76%);
	border-radius: 2px;
}

.panzer__body {
	width: 600px;
	height: 80px;
	position: absolute;
	top: 120px;
	left: -2px;
}

.panzer__squares {
	font-size: 0;
	width: 600px;
	height: 60px;
}

.panzer__squares div:first-child {
	transform: translate(30px) skew(-46deg);
}

.panzer__squares div:last-child {
	border-radius: 0 10px 0 0;
}

.panzer__square {
	display: inline-block;
	width: 60px;
	height: 60px;
	border: 1px solid rgb(56, 61, 56);
	background: #807c81;
}

.panzer__line {
	width: 600px;
	height: 20px;
	background: #807c81;
	border: 1px solid rgb(56, 61, 56);
}

.bottom {
	width: 600px;
	height: 95px;
	/* background: #474447; */
	font-size: 0;
}

.bottom__section {
	display: inline-block;
	width: 100px;
	height: 65px;
	background: #615e61;
	border: 1px solid rgb(56, 61, 56);
	vertical-align: top;
	border-bottom: 15px solid rgb(56, 56, 75);
}

.bottom div:first-child {
	width: 250px;
	height: 45px;
	background: #615e61;
	border: 1px solid #383d38;
	border-radius: 0 0 0 45px;
	border-bottom: 15px solid rgb(56, 56, 75);
}

.bottom div:last-child {
	width: 250px;
	height: 55px;
	background: #615e61;
	border: 1px solid rgb(56, 61, 56);
	border-radius: 0 0 15px 0;
	border-bottom: 15px solid rgb(56, 56, 75);
}

.wheels {
	position: relative;
}

.wheels__item {
	position: absolute;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background: radial-gradient(circle, rgba(148, 154, 149, 1) 12%, rgba(74, 80, 76, 1) 38%);
	top: -85px;
	border: 15px solid #2e2c2c;
	outline: 7px dashed rgb(17, 27, 27);
}

.wheels div:first-child {
	left: 40px;
}

.wheels div:nth-child(2) {
	left: 170px;
}

.wheels div:nth-child(3) {
	left: 340px;
}

.wheels div:last-child {
	left: 470px;
}


/* =========================== Footer ========================== */

.footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	background: linear-gradient(0deg, rgba(34, 195, 177, 1) 0%, rgba(253, 237, 45, 1) 100%);
}
