/* Підключення шрифтів */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

/* Основні стилі */
body {
	background-color: #e7e9e5;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
}

.wrapper {
	padding: 50px;
	overflow: clip;
	min-height: 100%;
	position: relative;
}

[class*="__container"] {
	max-width: 1300px;
	margin: 0 auto;
}

.header {
	background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
	width: 100%;
	top: 0;
	left: 0;
	z-index: 12;
}

.header--fixed {
	position: fixed;
}

.menu__item {
	display: inline-block;
	position: relative;
}

.menu__item:not(:last-child) {
	margin-right: 60px;
}

.menu__item:hover .menu__link {
	background: #7b41bd;
}

.menu__item:hover .sub-menu {
	visibility: visible;
}

.menu__link {
	color: black;
	background: #c85ccc;
	padding: 7px;
}

.sub-menu {
	position: absolute;
	left: -11px;
	top: 100%;
	padding-top: 10px;
	color: black;
	width: 130px;
	visibility: hidden;
}

.sub-menu__item {
	background: #94d41c;
	display: inline-block;
	position: relative;
}


.sub-menu__link {
	padding: 10px;
	display: inline-block;
}

.sub-menu__link:hover {
	color: blueviolet;
	background: #dabc18;
}

/* ---------------------------- Sub-sub-menu ---------------------------- */

.level-menu {
	position: absolute;
	top: 0;
	left: 100%;
	width: 155px;
	padding-left: 2px;
	color: rgb(241, 238, 238);
	visibility: hidden;
}

.sub-menu__item:hover .level-menu {
	visibility: visible;
}

.level-menu__item {
	display: inline-block;
	background: #6f78c7;
}

.level-menu__item:hover .level-menu__link {
	color: darkorange;
	background: #eceaeb;
}

.level-menu__link {
	padding: 8px;
}




/* ---------------------------------------------------------------------------- */
.header,
.footer {
	text-align: center;
	padding: 10px;
}

.header h4 {
	margin: 0px 0px 10px 0px;
}

/* ============================ Main page ================================ */

.page {
	margin: 0px 0px 100px 0px;
	text-align: center;
}

.section {
	margin-top: 70px;
	font-size: 0;
	margin: 50px auto 70px;
}

.section__sidebar {
	position: sticky;
	top: 80px;
	display: inline-block;
	vertical-align: top;
	background: #12a384;
	color: black;
	font-size: 20px;
}

.section__item {
	padding: 15px;
	position: relative;
}

.section__link {
	padding: 10px 25px;
	background: #53cbcf;
}

.section__link::before {
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #a53573;
	position: absolute;
	top: 30px;
	left: 24px;
}

.section__text {
	display: inline-block;
	width: 1000px;
	background: #78aa37;
	color: black;
	font-size: 20px;
	padding: 15px;
}

.decor-left {
	position: absolute;
	top: 100px;
	left: 0;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: #2a7baa;
	margin: 0px 0px 0px -100px;
}

.decor-right {
	position: absolute;
	top: 430px;
	right: 0;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: #c7d82c;
	margin: 0px -100px 0px 0px;
}

.relative-1,
.relative-2,
.relative-3,
.static-1,
.static-2,
.static-3,
.index,
.absolute-1,
.absolute-2,
.absolute-3 {
	padding: 20px;
}

.sticky-1,
.sticky-2,
.sticky-3 {
	padding-top: 80px;
}

.static {
	margin: 0px 0px 100px 0px;
}

.violet {
	background-color: #af187d;
}

.green {
	background-color: #2d881a;
}

.orange {
	background-color: #b8600e;
}

.relative {
	margin: 0px 0px 100px 0px;
}

.relatives {
	height: 140px;
	position: relative;
	z-index: 1;
}

.relative-1 {
	position: relative;
	left: -1%;
	top: 10%;
}

.relative-2 {
	position: relative;
	z-index: 10;
}

.relative-3 {
	position: relative;
	left: 1%;
	top: -10%;
	z-index: 5;
}


.index {
	min-height: 100px;
	background-color: chartreuse;
	position: relative;
	z-index: 2;
}

.absolute {
	position: relative;
	margin: 0px 0px 200px 0px;
}

.absolute-2 {
	position: absolute;
	top: 100%;
	left: 46%;
}

.flower {
	position: relative;
}

.flower img {
	max-width: 100%;
}

.flower::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: yellow;
}

.flower:hover::before {
	opacity: 0.5;
}


.sticky-1 {
	background: linear-gradient(90deg,
			rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
	position: sticky;
	top: 50px;
	left: 0;
	height: 100px;
	margin: 0px 0px 100px 0px;
}

.sticky-2 {
	background: radial-gradient(circle, rgb(214, 147, 24) 0%, rgba(252, 70, 107, 1) 100%);
	position: sticky;
	top: 25px;
	left: 0;
	height: 100px;
	margin: 0px 0px 100px 0px;
}

.sticky-3 {
	background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
	position: sticky;
	top: 0;
	left: 0;
	height: 100px;
	margin: 0px 0px 150px 0px;
}

.flower {
	margin: 0px 0px 150px 0px;
}

/* ================================ Consulting ==================================== */

.page__consulting {
	max-width: 1220px;
	margin: 0 auto 150px;
	font-size: 0;
}

.consult__team-1 {
	margin: 0px 0px 31px 0px;
}

.item {
	display: inline-block;
}

.team-1__items,
.team-2__items {
	max-width: 386px;
	position: relative;
}

.team-1__items img,
.team-2__items img {
	width: 100%;
}

.team-1__items:not(:last-child),
.team-2__items:not(:last-child) {
	margin-right: 31px;
}

.item__social {
	background-color: rgba(107, 119, 229, 0.70);
	width: 100%;
	min-height: 532px;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
}

.item:hover .item__social {
	visibility: visible;
}

.social-item__block {
	font-size: 0;
	position: absolute;
	top: 241px;
	left: 103px;
}

.social-item__link {
	width: 50px;
	height: 50px;
}

.social-item__link:not(:last-child) {
	margin-right: 13px;
}

.item__block {
	max-width: 341px;
	padding: 24px 47px;
	background-color: #fff;
	margin: 0 auto;
	position: absolute;
	bottom: 22px;
	left: 22px;
}

.item__title {
	color: #37393F;
	font-family: Poppins;
	font-size: 25px;
	font-weight: 600;
	line-height: 1.52;
	min-width: 247px;
}

.item__text {
	color: #7D7D7D;
	font-family: Inter;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.35;
}

/* -------------------------------- Footer ---------------------------- */

.footer {
	background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 11;
}

.footer--fixed {
	position: fixed;
}
