@import url("fonts.css");

@import url("reset.css");

/* ! ============================ HEADER ============================== */

.header {
	background-color: #9fc979;
}

.header-block {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0px 20px;
	text-align: center;
	font-size: 20px;
	line-height: 2;
}

.header-title {
	font-size: 30px;
}

/*  ==================================== Практика ==================== */

.practice {
	margin: 0px 0px 150px 0px;
}

/* ?------------------------------ Ukraine --------------------------------- */

.ukraine {
	margin: 30px auto;
}

.love-ukraine {
	margin: 0 auto;
	max-width: 1000px;
	font-size: 40px;
	padding: 10px 200px 10px;
	visibility: hidden;
	opacity: 0;
	background: radial-gradient(circle, rgba(238, 229, 88, 1) 0%, rgba(68, 169, 233, 1) 100%);
}

.ukraine:hover .love-ukraine {
	visibility: visible;
	opacity: 1;
}

.love-ukraine:active {
	color: blue;
}

.love-ukraine a:visited {
	color: yellow;
}

/* *------------------------------ Children --------------------------------- */

.children {
	max-width: 1000px;
	margin: 0 auto 50px;
	font-size: 20px;
}

.child {
	margin: 0px 0px 50px 0px;
}

.child > *:not(:last-child) {
	margin-bottom: 20px;
}

.child li:nth-child(even) {
	color: rebeccapurple;
}

.child li:nth-child(odd) {
	color: rgb(35, 202, 71);
}

.child li:last-child {
	color: rgb(223, 143, 39);
}

.child li:first-child {
	color: rgb(124, 124, 37);
}

.children p:first-of-type {
	color: seagreen;
	margin: 0px 0px 10px 0px;
}

.children p:last-of-type {
	color: rgb(201, 110, 50);
	margin: 0px 0px 30px 0px;
}

.type {
	margin: 0px 0px 40px 0px;
}

.type p:nth-child(2) {
	color: greenyellow;
	margin: 0px 0px 20px 0px;
}

.ntn {
	line-height: 1.5;
	margin: 0px 0px 50px 0px;
}

.ntn li:nth-child(3n + 1) {
	color: lawngreen;
}

.ntn li:nth-child(3n + 2) {
	color: rgb(69, 72, 230);
}

.ntn li:nth-child(3n + 3) {
	color: rgb(199, 63, 154);
}

.ntn2 {
	line-height: 2.5;
	margin: 0px 0px 50px 0px;
}

.ntn2 li:nth-child(4n + 1) {
	background-color: rgb(190, 66, 163);
}

.ntn2 li:nth-child(4n + 2) {
	background-color: rgb(50, 156, 107);
}

.ntn2 li:nth-child(4n + 3) {
	background-color: rgb(209, 221, 44);
}

.ntn2 li:nth-child(4n + 4) {
	background-color: rgb(57, 28, 184);
}

.ntn2 li:not(:last-child) {
	margin-bottom: 10px;
}

.dif > *:last-child {
	margin-bottom: 0;
}

.first {
	margin: 0px 0px 10px 0px;
}

.second {
	margin: 0px 0px 20px 0px;
}

.third {
	margin: 0px 0px 30px 0px;
}

/* !============================ GAME ==================================  */

.game-container {
	width: 1000px;
	margin: 0 auto 50px;
}

.game {
	width: 100%;
	font-size: 0;
	border: 10px solid rgb(0, 89, 255);
	outline: 10px solid yellow;
}

.game-title {
	font-size: 30px;
	margin: 0px 0px 30px 0px;
	color: goldenrod;
}

.game .line {
	visibility: hidden;
	display: inline-block;
	background-color: rgb(88, 72, 56);
}

.game .line1 {
	width: 50px;
	height: 50px;
	background: url("../img/repeat.jpg") 0 0 no-repeat;
	visibility: visible;
}

.game .line2 {
	width: 200px;
	height: 50px;
}

.game .line3 {
	width: 300px;
	height: 20px;
}

.game .line4 {
	width: 150px;
	height: 100px;
	background: url("../img/swamp.jpg") 0 0 / contain no-repeat;
}

.game .line5 {
	width: 250px;
	height: 15px;
	vertical-align: top;
}
.game .line6 {
	width: 10px;
	height: 100px;
}
.game .line7 {
	width: 830px;
	height: 20px;
	margin-left: 130px;
}
.game .line8 {
	width: 150px;
	height: 100px;
	background: url("../img/forest.jpg") 0 0 / contain no-repeat;
}
.game .line9 {
	width: 150px;
	height: 12px;
	vertical-align: bottom;
}

.game .line10 {
	width: 150px;
	height: 100px;
	background: url("../img/river.jpg") 0 0 no-repeat;
}

.game .line11 {
	width: 100px;
	height: 12px;
	vertical-align: top;
}

.game .line12 {
	width: 15px;
	height: 60px;
	vertical-align: top;
}

.game .line13 {
	width: 33px;
	height: 12px;
	margin: 0px 0px 40px 0px;
}

.game .line14 {
	width: 165px;
	height: 100px;
	background: url("../img/mountains.jpg") 0 0 / contain no-repeat;
}

.game .line15 {
	width: 150px;
	height: 12px;
	vertical-align: top;
}

.game .line16 {
	width: 15px;
	height: 100px;
}

.game .line17 {
	width: 1000px;
	height: 500px;
	background: url("../img/map.jpg") 0 0 / contain no-repeat;
}

.game:hover .line1 {
	visibility: visible;
}

.line:hover,
.line:hover + .line {
	visibility: visible;
}

/* ? ======================================== Target ============================== */

.cossack,
.emblem,
.flag {
	display: inline-block;
	visibility: hidden;
}

.cossack {
	margin-right: 200px;
}

.emblem {
	margin-right: 130px;
}

.flag:target {
	visibility: visible;
}

.cossack:target {
	visibility: visible;
}

.emblem:target {
	visibility: visible;
}

.target-block {
	width: 1000px;
	margin: 0 auto 37px;
}

.target-link {
	font-size: 20px;
	color: violet;
	display: inline-block;
	margin-right: 200px;
}

.target-link::before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: yellow;
	margin: 0px 4px -3px 0px;
	opacity: 1;
}

.target-link:hover::before {
	opacity: 0;
}

.target-link::after {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: blue;
	margin: 0px 0px -4px 3px;
	opacity: 0;
}

.target-link:hover::after {
	opacity: 1;
}

/* ! ================================== HOME WORK ============================== */

.homework {
	margin-bottom: 200px;
}

/*  --------------------------------- Management ---------------------------------- */

.manag {
	margin: 0 auto 151px;
	padding: 0 12px;
	max-width: 716px;
	color: #7d7d7d;
	font-family: "Inter", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.46;
}

.manag-title,
.faq-title,
.ben-title {
	color: #37393f;
	font-family: "Poppins", sans-serif;
	font-size: 30px;
	font-weight: 600;
	line-height: 1.27;
}

.manag-title {
	margin: 0px 0px 3px 0px;
}

.manag-title + p {
	margin: 0px 0px 42px 0px;
}

.subtitle {
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.27;
}

.manag-text p:last-of-type {
	margin-bottom: 0;
}

.cyan {
	color: #6b77e5;
	margin: 0px 0px 12px 0px;
}

.benefits {
	font-size: 0;
	margin: 0px 0px 48px 0px;
}

.benefits > img {
	margin-right: 29px;
	width: 331px;
	height: 262px;
	
}

.benefits-block {
	display: inline-block;
	max-width: 332px;
}

.ben-title {
	color: #37393f;
	font-size: 25px;
	margin: 0px 0px 15px 0px;
}

.green {
	color: #40ddb6;
	margin: 0px 0px 24px 0px;
}

.ben-list {
	font-size: 18px;
	line-height: 1.22;
}

.ben-list > li::before {
	content: "";
	background: url("../img/blue-bird.svg") 0 0 / contain no-repeat;
	width: 27px;
	height: 27px;
	margin-right: 8px;
	margin-bottom: -6px;
}

.ben-list > *:not(:last-child) {
	margin-bottom: 30px;
}

.faq p:last-child {
	margin-bottom: 0px;
}

.faq-title {
	margin: 0px 0px 4px 0px;
}

/* -------------------------- Business Plan ---------------------------- */

.plan {
	margin: 0px auto 190px;
	max-width: 695px;
	padding: 0px 10px;
	color: #7d7d7d;
	font-family: "Inter", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.46;
}

.plan-block {
	margin-bottom: 48px;
	padding-right: 2px;
}

.welcome-title {
	color: #37393f;
	font-weight: 500;
	line-height: 1.22;
	margin-bottom: 16px;
}

.welcome-title::before {
	content: "";
	background: url("../img/rectangle.png") 0 0 / contain no-repeat;
	width: 12px;
	height: 12px;
	margin-right: 6px;
	margin-bottom: 1px;
}

.plan-title {
	color: #37393f;
	font-family: "Poppins", sans-serif;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.21;
	margin-bottom: 10px;
}

.plan-title ~ p:not(:last-child) {
	margin-bottom: 16px;
}

.our-items {
	margin-bottom: 48px;
}

.our-items > li {
	padding: 28px 41px 28px 38px;
	border: 1px solid #e3e3e3;
}

.our-items > li:hover {
	background-color: rgb(238, 238, 238);
}

.our-items > li:not(:last-child) {
	margin-bottom: 31px;
}

.our-title {
	color: #37393f;
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.5;
	margin-bottom: 12px;
}

.our-title ~ p {
	padding-left: 46px;
}

.our-title::before {
	content: "";
	background: url("../img/blue-bird.svg") 0 0 / contain no-repeat;
	width: 27px;
	height: 27px;
	margin: 0px 19px -7px 0px;
}

.plan-link {
	width: 200px;
	background-color: #6b77e5;
	padding: 21px 35px 22px 35px;
	color: #fff;
	text-align: center;
	font-weight: 600;
	line-height: 1.22;
	text-transform: capitalize;
}

/* --------------------------------------- Work ----------------------------------- */

.work {
	margin: 0px auto 160px;
	max-width: 1240px;
	padding: 0px 10px;
	text-align: center;
}

.work-subtitle {
	color: #37393f;
	font-family: "Inter", sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.22;
	margin-bottom: 16px;
}

.work-subtitle::before {
	content: "";
	background: url("../img/rectangle.png") 0 0 / contain no-repeat;
	width: 12px;
	height: 12px;
	margin-right: 6px;
	margin-bottom: 1px;
}

.work-title {
	color: #37393f;
	font-family: "Poppins", sans-serif;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.21;
	text-transform: capitalize;
	margin-bottom: 77px;
}

.work-list {
	font-size: 0;
}

.work-list > li {
	display: inline-block;
	max-width: 386px;
	padding-top: 36px;
}

.work-list > li:not(:last-child) {
	margin-right: 31px;
}

.work-list > * {
	color: #7d7d7d;
	font-family: "Inter", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.46;
}

.item-title {
	color: #37393f;
	font-family: "Poppins", sans-serif;
	font-size: 25px;
	font-weight: 600;
	line-height: 1.27;
	margin-bottom: 16px;
}

.item-title ~ p {
	margin-bottom: 37px;
}

.item-title ~ a {
	color: #6b77e5;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.22;
	text-transform: capitalize;
}

.app,
.cons,
.serv {
	padding: 58px 43px;
	background-color: #f4f4f4;
	text-align: center;
}

.app::before {
	content: "";
	background: url("../img/appointment.svg") 0 0 no-repeat;
	display: block;
	width: 72px;
	height: 72px;
	border-radius: 50%;
	margin: -94px auto 22px;
}

.cons::before {
	content: "";
	background: url("../img/consultation.svg") 0 0 no-repeat;
	display: block;
	width: 72px;
	height: 72px;
	border-radius: 50%;
	margin: -94px auto 22px;
}

.serv::before {
	content: "";
	background: url("../img/service.svg") 0 0 no-repeat;
	display: block;
	width: 72px;
	height: 72px;
	border-radius: 50%;
	margin: -94px auto 22px;
}

/* ? -------------------------------- Jewellery ---------------------------------- */

.jewell {
	max-width: 1230px;
	margin: 0px auto 200px;
	padding: 0px 8px;
	color: #000;
	font-family: "Cormorant Infant", serif;
	font-weight: 700;
	font-size: 0;
}

.title-block {
	padding-top: 150px;
	vertical-align: top;
}

.jewell-title {
	font-size: 60px;
	line-height: 1.15;
	max-width: 488px;
}

.jewell-title::after {
	content: "";
	display: block;
	margin-top: 13px;
	height: 3px;
	width: 63%;
	background-color: #78473b;
}
.title-block,
.jewell-title,
.card1-block,
.card2-block {
	display: inline-block;
}

.card1-block,
.card2-block {
	max-width: 334px;
}

.card1-block {
	margin-right: 55px;
	padding-top: 32px;
	vertical-align: top;
}

.card1,
.card2 {
	border: 1px solid #000;
	margin-bottom: 34px;
	width: 334px;
	height: 381px;
}

.card1 > img,
.card2 > img {
	margin-top: 9px;
	margin-left: 10px;
	width: 100%;
	height: 100%;
}

.card-subtitle,
.card-subtitle + span {
	font-size: 24px;
	line-height: 1.4;
}

.card-subtitle {
	margin-bottom: 4px;
}

.card2-title {
	font-size: 46px;
	line-height: 1.13;
	margin-bottom: 31px;
}

/* !------------------------------ Footer --------------------------------- */


.footer {
	background-color: #79bdc9;
}

.footer-block {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0px 20px;
	text-align: center;
	font-size: 20px;
	line-height: 2;
}

.footer-title {
	font-size: 30px;
}
