@import url("fonts.css");


@import url("reset.css");


body {
	background-color: #fff;
	font-family: "DM Serif Text", serif;
	color: #fff;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}

.wrapper>main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1203px;
	margin: 0 auto;
	padding: 0 15px;
}

/* ! ================================== Our products ============================== */

.page__our-products {
	padding: 94px 0;
	background-color: #0e333d;
}

.our__block {
	display: flex;
	flex-direction: column;
	gap: 77px;
	line-height: 1.27;
}

.our__text {
	text-align: center;
}

.our__title {
	font-weight: 400;
	font-size: 48px;
	text-transform: capitalize;
}

.our__title:not(:last-child) {
	margin-bottom: 23px;
}

.our__text p {
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	font-size: 20px;
	color: #ebebeb;
}

.our__text p:not(:last-child) {
	margin-bottom: 34px;
}

.our__buttons {
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	font-size: 18px;
	display: inline-flex;
	flex-wrap: wrap;
	gap: 41px;
}


.our__button:hover {
	text-decoration: underline;
}

.our__cards {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.our__column {
	flex: 0 0 25%;
	padding: 0 15px;
	text-align: left;
}

.column__item {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.column__image:not(:last-child) {
	margin-bottom: 17px;
}

[class*="__image"] img {
	aspect-ratio: 270 / 270;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.column__image img {
	border-radius: 5px;
}

.column__body {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 4px;
}

.column__title {
	flex-grow: 1;
}

.column__title,
.column__text {
	font-family: "Cormorant Infant", sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.4;
}

@media (max-width: 840px) {
	.our__column {
		flex: 1 0 50%;
		margin-bottom: 50px;
	}
}

@media (max-width: 490px) {
	.our__column {
		flex: 1 0 100%;
	}

	.about__item {
		/* margin: 0 -15px; */
	}
}

@media (max-width: 840px) {}

/* ! ================================= Most Popular Products ============================ */

.page__most-popular {
	margin: 150px 0px;
}

.most__popular {
	display: flex;
	flex-direction: column;
	gap: 61px;
}

.most__titles {
	text-align: center;
	text-transform: capitalize;
}

.most__title {
	font-weight: 400;
	font-size: 58px;
	line-height: 1;
	color: #291403;

}

.most__title:not(:last-child) {
	margin-bottom: 27px;
}

.most__sub-title {
	font-family: "Cormorant Infant", sans-serif;
	font-weight: 700;
	font-size: 30px;
	line-height: 1.4;
	color: #818181;
}

.most__columns {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.most__columns:not(:last-child) {
	margin-bottom: 15px;
}

.column__wrapper {
	padding: 0 15px;
	flex: 0 0 25%;
}

.column__body--color {
	color: #000;
}

.most__link {
	padding: 12px 43px;
	font-family: "Ubuntu", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.875;
	background-color: #ff7a49;
	text-transform: capitalize;
	align-self: center;
	transition: background-color 0.3s;
}

.most__link:hover {
	background-color: #862805
}

@media (max-width: 840px) {
	.column__wrapper {
		flex: 1 0 50%;
		margin-bottom: 50px;
	}
}

@media (max-width: 490px) {
	.column__wrapper {
		flex: 1 0 100%;
	}

	.about__item {
		/* margin: 0 -15px; */
	}
}

/* ! ========================== Ours Popular Products ============================= */


.page__ours-popular {
	padding: 125px 0px 114px;
}

.ours__container {
	max-width: 1197px;
	position: relative;
}

.ours__popular {
	color: #000;
}

.ours__title {
	font-weight: 400;
	font-size: 58px;
	color: #000;
}

.ours__title:not(:last-child) {
	margin-bottom: 27px;
}

.ours__subtitle {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.8;
	color: #606060;
}

.ours__subtitle:not(:last-child) {
	margin-bottom: 53px;
}

.ours__columns {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -24px;
}

.column3__wrapper {
	padding: 0 24px;
	flex: 0 0 33.3%;
}

.column3__item {
	display: flex;
	flex-direction: column;
	gap: 16px;
	min-height: 100%;
}

.column3__image {
	aspect-ratio: 357 / 240;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.column3__body {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.column3__title {
	font-weight: 400;
	font-size: 24px;
	line-height: 1.2;
}

.column3__title:not(:last-child) {
	margin-bottom: 16px;
}

.column3__text {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
	opacity: 0.7;
	flex-grow: 1;
}

.column3__text:not(:last-child) {
	margin-bottom: 8px;
}

.column3__link {
	display: flex;
	justify-content: space-between;
}

.column3__link-text {
	font-family: "Inter", sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 1.5;
	color: #f55529;
}

.column3__link-text:hover {
	text-decoration: underline;
}

.column3__link-icon {
	flex: 0 0 24px;
	justify-content: flex-end;
	border-radius: 50%;
	background: url('../img/ours_popular/icon_right_arrow.svg') 0 0 no-repeat;
	transition: all 0.3s;
}

.column3__link-icon:hover {
	opacity: 0.5;
}

.ours-decor {
	position: absolute;
	top: 56%;
	left: 102%;
}

.ours-decor img {
	aspect-ratio: 171 / 385;
	height: 100%;
	object-fit: cover;
}

@media (max-width: 767.98px) {
	.column3__wrapper {
		flex: 1 0 100%;
		margin-bottom: 50px;
	}
}

@media (min-width: 320px) {
	.ours__title {
		font-size: 50px;
	}

	.page__ours-popular {
		padding-top: 20px;
	}

	.ours__title:not(:last-child) {
		margin-bottom: 10px;
	}

	.ours__subtitle:not(:last-child) {
		margin-bottom: 25px;
	}
}

@media (max-width: 991.98px) {
	.column3__wrapper {
		padding: 0 12px;
		;

	}
}

/* ! ======================================= Business ==================================== */

.business {
	padding: 135px 0;
	background: #37393F;
	font-family: "Inter", sans-serif;
	font-size: 18px;
	position: relative;
}

.business__container {
	max-width: 1250px;
}

.business__content {
	max-width: 610px;
	display: flex;
	flex-direction: column;
	gap: 36px;
}

.business__top {
	max-width: 575px;
}

.business__headers {
	max-width: 370px;
}

.business__headers:not(:last-child) {
	margin-bottom: 13px;
}

.business__sub-title {
	display: inline-block;
	margin-bottom: 13px;
	padding-left: 18px;
	font-weight: 500;
	line-height: 1.2;
	position: relative;
	text-transform: capitalize;
}

.business__sub-title::before {
	content: "";
	width: 12px;
	height: 12px;
	background-color: #40ddb6;
	position: absolute;
	left: 0;
	top: 5px;
}

.business__title {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-size: 30px;
	line-height: 1.21;
	text-transform: capitalize;
}

.business__charts {
	margin: 0 -7.5px;
}

.charts {
	display: flex;
}

.charts__box-item {
	flex: 0 0 50%;
	padding: 0 7.5px;
}

.charts__item {
	padding: 27px 30px;
	background-color: #2e2f34;
	display: flex;
	gap: 12px;
	align-items: center;
	min-height: 100%;
}

.charts__img {
	width: 79px;
	height: 79px;
	border-radius: 50%;
}

.charts__text {
	font-size: 16px;
	line-height: 1.35;
	margin-bottom: 1px;
}

.charts__title {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	line-height: 1.5;
}

.business__box {
	display: flex;
	flex-wrap: wrap;
	row-gap: 23px;
	column-gap: 20px;
}

.box-list__item {
	flex: 0 1 48.36%;
	line-height: 1.65;
}

.box-list__item--text {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-size: 20px;
	position: relative;
	padding: 0 0 0 35px;
}

.box-list__item--text::before {
	content: "";
	width: 27px;
	height: 27px;
	border-radius: 50%;
	background: url('../img/business/business_vector.svg');
	position: absolute;
	top: 3px;
	left: 0;
}

.box-list__thin-text {
	font-weight: 400;
}

.box-list__yellow-text {
	font-weight: 400;
	color: #ffb342;
}

.box-list-star {
	padding-right: 22px;
	position: relative;
}

.box-list-star::after {
	content: "";
	position: absolute;
	width: 17px;
	height: 17px;
	background: url('../img/business/star.svg') no-repeat;
	right: 2px;
	top: 6px;
}

.box-list__link {
	font-weight: 600;
	text-transform: capitalize;
	color: #40ddb6;
	position: relative;
	transition: all 0.3s;
}

.box-list__link::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #40ddb6;
	transition: all 0.3s;
}

@media (any-hover: hover) {
	.box-list__link:hover::after {
		left: 50%;
		width: 0;
		background-color: #fff;
	}

	.box-list__link:hover {
		color: #fff;
	}
}


.business__background {
	display: none;
}

@media (min-width: 1200px) {
	.business__background {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 45%;
		height: 100%;
		/* padding: 0 0 44% 0; */
	}
}

@media (min-width: 1200px) {
	.business__background img {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: left;
	}
}

@media (max-width: 1200px) {
	.business {
		padding: 75px 0px;
	}
	.business__content {
		max-width: 100%;
	}
	.business__headers {
		margin: 0 auto;
		text-align: center;
	}
	.business__top {
		max-width: 100%;
	}
	.business__text p {
		text-align: justify;
	}
	.business__headers:not(:last-child) {
		margin-bottom: 18px;
	}
}

@media (max-width: 650px) {
	.charts {
		flex-wrap: wrap;
		row-gap: 20px;
	}
	.charts__box-item {
		flex: 0 0 100%;
	}
	.box-list {
		flex-wrap: wrap;
		row-gap: 15px;
	}
	.box-list__item {
		flex: 0 1 100%;
	}
}


/* ? ------------------------------------------------------------------ */

.header {
	background-color: greenyellow;
	padding: 40px;
	font-size: 30px;
	margin-bottom: 50px;
	text-align: center;
}

.footer {
	background-color: greenyellow;
	padding: 40px;
	font-size: 30px;
	margin-top: 50px;
	text-align: center;
}