@import url("reset.css");

.list {
	width: 400px;
}

p {
	font-size: 14px;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

.contents {
	color: violet;
}

.formal {
	font-size: 30px;
	color: cyan;
}

.formal-sciences {
	font-size: 24px;
	color: indigo;
}

.nature {
	font-size: 30px;
	color: green;
}

.physical {
	font-size: 24px;
	color: darkcyan;
}

.physical-sciences {
	font-size: 20px;
	color: seagreen;
}

.alive {
font-size: 24px;
color: lawngreen;
}

.alives {
	font-size: 20px;
	color: greenyellow;
}

.earth {
	font-size: 24px;
	color: brown;
}

.earthes {
	font-size: 20px;
	color: peru;
}

.social {
	font-size: 30px;
	color: orangered;
}

.socials {
	font-size: 24px;
	color: orange;
}

.humanus {
	font-size: 30px;
	color: lightcoral;
}

.humanuses {
	font-size: 24px;
	color: salmon;
}