@import url("fonts.css");
@import url("reset.css");

body {
	font-family: "Inter", sans-serif;
	font-size: 18px;
	color: #37393F;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}

.wrapper>main {
	flex-grow: 1;
}

.header,
.footer {
	background-color: #51c979;
	text-align: center;
	width: 100%;
	padding: 30px 100px;
	position: sticky;
	top: 0;
	opacity: 0.9;
	text-transform: uppercase;
	font-size: 30px;
}

.page__callback {
	padding: 50px 0;
	text-align: center;
}

[class*=__container] {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 15px;
}

/* ! ==================== Call Back ==================== */

.callback__sub-title::before {
	content: "";
	width: 12px;
	height: 12px;
	background-color: #40DDB6;
	flex: 0 0 12px;
}

.callback__sub-title {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 6px;
	font-weight: 500;
	line-height: 1.2;
	text-transform: capitalize;
}

.callback__sub-title:not(:last-child) {
	margin: 0px 0px 16px 0px;
}

.callback__title {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-size: 40px;
	line-height: 1.21;
	color: #37393f;
	text-transform: capitalize;
}

.callback__title:not(:last-child) {
	margin: 0px 0px 40px 0px;
}

.form__body:not(:last-child) {
	margin: 0px 0px 50px 0px;
}

.form__body {
	display: flex;
	flex-wrap: wrap;
	row-gap: 28px;
	margin: 0 -17.5px;
}

.form__item {
	flex: 1 1 50%;
	padding: 0 17.5px;
	min-width: 290px;
}

.form__item input {
	width: 100%;
	border: 1px solid #ddd;
	background-color: #f8f8f8;
	padding: 21px 40px 22px;
}

.form__item input::placeholder,
.form__textarea::placeholder {
	color: #37393f;
}

.form__item--textarea {
	flex: 1 1 100%;
}

.form__textarea {
	width: 100%;
	min-height: 222px;
	border: 1px solid #ddd;
	background-color: #f8f8f8;
	padding: 21px 40px 22px;
	resize: vertical;
}

.form__button {
	padding: 21px 61px 22px;
	font-weight: 600;
	line-height: 1.2;
	text-transform: capitalize;
	color: #fff;
	background-color: #6b77e5;
	transition: background-color 0.3s;
}

.form__button:hover {
	background-color: rgb(46, 48, 122);
}


/* ! =============================== Info ======================== */

.page__info {
	padding: 50px 0px;
}

.info {
	color: #3C4242
}

.info__container {
	max-width: 925px;
}

.info__title:not(:last-child) {
	margin-bottom: 20px;
}

.info__title,
.info__sub-title {
	font-family: "Core Sans C", sans-serif;
	font-weight: 600;
	font-size: 28px;
	line-height: 1.2;
	letter-spacing: 0.56px;
}

.info__sub-title:not(:last-child) {
	margin-bottom: 50px;
}

.info__sub-title {
	font-size: 22px;
	line-height: 1.5;
	letter-spacing: 0.44px;
}

.form-info {
	font-family: "Causten", sans-serif;
	font-size: 18px;
}

.form-info__body:not(:last-child) {
	margin-bottom: 30px;
}

.form-info__body {
	display: flex;
	flex-wrap: wrap;
	row-gap: 31px;
	margin: 0px -21px;
}

.form-info__item {
	flex: 1 1 50%;
	padding: 0px 21px;
	min-width: 290px;
}

.form-info__item label:not(:last-child) {
	margin-bottom: 10px;
}

.form-info__item label {
	display: inline-block;
	font-weight: 600;
	letter-spacing: 0.36px;
	line-height: 1.2;
}

.form-info__item input,
.form-info__item textarea,
.form-info__item select {
	width: 100%;
	padding: 18px 22px;
	border-radius: 8px;
	background-color: #f6f6f6;
}

.form-info__item select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: #807D7E;
	background: #f6f6f6 url('../img/icon.svg') right 22px center no-repeat;
	font-size: 16px;
	line-height: 1.3;

}

.form-info__item--textarea {
	flex: 1 1 100%;
}

.form-info__item textarea {
	min-height: 149px;
	resize: vertical;
}

.form-info__box:not(:last-child) {
	margin-bottom: 60px;
}

.form-info__box {
	position: relative;
	font-size: 20px;
}

.form-info__checkbox:not(:last-child) {
	margin-bottom: 15px;
}

.form-info__input-checkbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
}

.form-info__label-checkbox {
	position: relative;
	display: inline-flex;
	gap: 11px;
	cursor: pointer;
}

.form-info__label-checkbox::before {
	content: "";
	flex: 0 0 20px;
	width: 20px;
	height: 20px;
	background: url('../img/box.svg') center/cover no-repeat;
	transition: all 0.3s;
}

.form-info__input-checkbox:checked+.form-info__label-checkbox::before {
	background: #dddbdc url('../img/icon.svg') center no-repeat;
	border-radius: 2px;
}

.form-info__buttons {
	display: flex;
	gap: 30px;
}

.form-info__button {
	border-radius: 8px;
	padding: 12px 40px;
	background-color: #8A33FD;
	font-weight: 600;
	font-size: 20px;
	color: #fff;
	transition: background-color 0.3s;
}

.form-info__button:hover {
	background-color: rgb(109, 33, 105);
}

.form-info__button--grey {
	background-color: #f6f6f6;
	font-weight: 700;
	color: #807d7e;
	transition: background-color 0.3s;
}

.form-info__button--grey:hover {
	background-color: rgb(236, 179, 179);
}


/* ! =============================== Check out ======================= */

.page_checkout {
	padding: 50px 0px;
}

.checkout {
	font-family: "Causten", sans-serif;
	font-size: 16px;
	color: #3c4242;
}

.checkout__container {
	max-width: 832px;
}

.checkout__title:not(:last-child) {
	margin-bottom: 20px;
}

.checkout__title::before {
	content: "";
	flex: 0 0 6px;
	border-radius: 10px;
	width: 6px;
	height: 28px;
	background-color: #8a33fd;
}

.checkout__title {
	display: flex;
	gap: 15px;
	font-size: 28px;
	line-height: 1.2;
	letter-spacing: 0.56px;
}

.checkout__title,
.checkout__sub-title {
	font-family: "Core Sans C", sans-serif;
	font-weight: 600;
	font-size: 16px;
}

.checkout__sub-title {
	font-size: 22px;
	line-height: 1.5;
	letter-spacing: 0.44px;
}

.checkout__sub-title:not(:last-child) {
	margin-bottom: 50px;
}

.checkout__form {
	padding-bottom: 32px;
}

.bil-form__body:not(:last-child) {
	margin-bottom: 43px;
}

.bil-form__body {
	display: flex;
	flex-wrap: wrap;
	row-gap: 28px;
	margin: 0 -19px;
}

.bil-form__item {
	flex: 1 1 50%;
	min-width: 290px;
	max-width: 420px;
	padding: 0 19px;
}

.bil-form__label:not(:last-child) {
	margin-bottom: 10px;
}

.bil-form__label {
	display: inline-block;
	font-weight: 600;
	letter-spacing: 0.32px;
	line-height: 1.2;
}

.bil-form__input,
.bil-form__select {
	width: 100%;
	border-radius: 8px;
	padding: 16px 20px;
	background-color: #f6f6f6;
}

.bil-form__item--small {
	flex: 1 1 30%;
	min-width: 246px;
}

.bil-form__select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: #807D7E;
	background: #f6f6f6 url('../img/icon.svg') right 22px center no-repeat;
	font-size: 14px;
	line-height: 1.3;
}

.bil-form__button:not(:last-child) {
	margin-bottom: 20px;
}

.bil-form__button {
	border-radius: 8px;
	padding: 16px 20px;
	font-family: "Causten", sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.2;
	color: #fff;
	background-color: #8a33fd;
	transition: background-color 0.3s;
}

.bil-form__button:hover {
	background-color: indigo;
}

.bil-form__checkbox {
	position: relative;
}

.bil-form__input-checkbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
}

.bil-form__label-checkbox {
	display: inline-flex;
	gap: 10px;
	cursor: pointer;
}

.bil-form__label-checkbox::before {
	content: "";
	flex: 0 0 20px;
	width: 20px;
	height: 20px;
	background: url('../img/box.svg') center/cover no-repeat;
	transition: all 0.3s;
}

.bil-form__input-checkbox:checked+.bil-form__label-checkbox::before {
	background: #dddbdc url('../img/icon.svg') center no-repeat;
	border-radius: 2px;
}

/* ? ----------------------------- Pay form ---------------------------------- */

.pay-form {
	max-width: 870px;
	padding: 0 15px;
	margin: 0 auto;
}

.pay-form__body:not(:last-child) {
	margin-bottom: 50px;
}

.pay-form__item:not(:last-child) {
	margin-bottom: 30px;
}

.pay-form__item {
	padding-top: 30px;
	border-top: 1px solid #EDEEF2;
}

.pay-form__sub-title:not(:last-child) {
	margin-bottom: 8px;
}

.pay-form__text:not(:last-child) {
	margin: 0px 0px 30px 0px;
}

.pay-form__text {
	line-height: 1.2;
}

.pay-form__radio-wrap {
	padding: 38px 28px;
	border-radius: 12px;
	background-color: #f6f6f6;
}

.pay-form__radio:not(:last-child) {
	padding-bottom: 25px;
	margin-bottom: 25px;
	border-bottom: 1px solid #BEBCBD;
}

.pay-form__radio {
	position: relative;
}

.pay-form__input-radio {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
}

.pay-form__label-radio::before {
	content: "";
	flex: 0 0 18px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	border: 1px solid #3c4242;
}

.pay-form__label-radio {
	position: relative;
	display: inline-flex;
	gap: 19px;
	font-weight: 700;
	font-size: 20px;
	cursor: pointer;
	line-height: 1.2;
}

.pay-form__input-radio:checked+.pay-form__label-radio::after {
	opacity: 1;
}

.pay-form__label-radio::after {
	content: "";
	position: absolute;
	top: 3px;
	left: 3px;
	width: 12px;
	height: 12px;
	opacity: 0;
	border-radius: 50%;
	background-color: #807d7e;
	transition: opacity 0.3s;
}

.pay-form__sub-title--margin:not(:last-child) {
	margin-bottom: 30px;
}

.pay-form__radio--hidden .pay-form__label-radio {
	display: flex;
	cursor: auto;
}

.pay-form__label-radio:not(:last-child) {
	margin-bottom: 5px;
}

.pay-form__radio--hidden .pay-form__label-radio::after,
.pay-form__radio--hidden .pay-form__label-radio::before {
	display: none;
}

.pay-form__label-radio--price {
	justify-content: space-between;
}

.pay-for__text--padding-left {
	padding-left: 37px;
}

.pay-form__payment-type {
	margin-bottom: 31px;
}

.type-payment {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	padding-left: 37px;
}

.type-payment__input {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
}

.type-payment__label {
	flex: 0 0 80px;
	width: 80px;
	height: 46px;
	border-radius: 8px;
	overflow: hidden;
	cursor: pointer;
	border: 1px solid transparent;
	transition: border 0.3s;
}

.type-payment__input:checked+.type-payment__label {
	border: 1px solid #BEBCBD;
}

.type-payment__label img {
	width: 100%;
	height: 100%;
}

img {
	vertical-align: top;
}

.card-payment {
	display: flex;
	flex-wrap: wrap;
	row-gap: 28px;
	margin: 0 -15px;
	padding: 0px 43px 0px 37px;
}

.card-payment__item {
	flex: 1 1 50%;
	min-width: 290px;
	padding: 0 15px;
}

.card-payment__input {
	width: 100%;
	border: 1px solid #3c4242;
	border-radius: 8px;
	padding: 16px 20px;
	background-color: transparent;
}

.card-payment__button-pass {
	position: absolute;
	top: 50%;
	right: 40px;
	transform: translate(0, -50%);
}

.card-payment__item--password {
	position: relative;
}

.card-payment__item--password .card-payment__input {
	padding-right: 50px;
}

.pay-form__button {
	border-radius: 8px;
	padding: 16px 20px;
	background-color: #8a33fd;
	font-weight: 500;
	font-size: 18px;
	color: #fff;
	transition: background-color 0.3s;
	line-height: 1.2;
}

.pay-form__button:hover {
	background-color: #5611af;
}