@import url("fonts.css");
@import url("reset.css");

body {
	font-family: "Inter", sans-serif;
	font-size: 18px;
	color: #7d7d7d;
}
/*================================HEADER================================= */

.header {
	margin-bottom: 50px;
	min-width: 1000px;
	height: 150px;
}

.header-margin1 {
	margin-top: 7px;
	margin-right: 574px;
	margin-bottom: 17px;
	margin-left: 350px;
}

.header-margin2 {
	margin: 15px;
}

.header-margin3 {
	margin: 10px 20%;
}

.header-margin4 {
	margin: 10px 500px 10px;
}

.header-margin5 {
	margin: -20px 15px 25px 700px;
}

/* =================================MAIN======================== */

.main {
	color: rgb(146, 15, 146);
	padding: 2%;
	margin: 50px;
	width: 1500px;
}

.main-img {
	max-width: 1000px;
	max-height: 400px;
}

.main-img2 {
	min-width: 300px;
	min-height: 100px;
}

.main-padding1 {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 800px;
}

.main-padding2 {
	padding: 20px;
}

.main-padding3 {
	padding: 14px 15px;
}

.main-padding4 {
	padding: 50px 500px 30px;
}

.main-padding5 {
	padding: 1px 2px 3px 1333px;
}

.overflow {
	color: green;
	max-width: 600px;
}

.visible {
	margin-bottom: -10px;
	color: blueviolet;
}

.hidden {
	overflow: hidden;
	height: 15px;
}

.clip {
	overflow: clip;
	color: blue;
	height: 20px;
}

.scroll {
	overflow: scroll;
	color: orange;
}

.auto {
	overflow: auto;
	color: orangered;
	margin: 0 auto;
}

.vertical-align {
	margin-bottom: 35px;
}

.va-top {
	vertical-align: top;
}

.va-middle {
	vertical-align: middle;
}

.va-bottom {
	vertical-align: bottom;
}

.inlines {
	color: lightcoral;
	margin: 15px 100px 50px;
}

.inline {
	display: inline;
}

.block {
	display: block;
	color: seagreen;
}

.block-link {
	color: salmon;
	display: block;
	width: 500px;
	margin: 0 auto 60px;
}

/* --------------------------  Consulting  --------------------- */

.consulting {
	margin: 0 auto;
	width: 742px;
}

.hero {
	margin: 0px 0px 40px 50px;
}

.hero img {
	width: 100%;
	margin: 0px 0px 37px 0px;
}

.hero > p {
	line-height: 1.46;
}

.hero-title {
	font-family: "Poppins", sans-serif;
	color: #37393f;
	font-size: 30px;
	font-weight: 600;
	line-height: 1.27;
	text-transform: capitalize;
	margin: 0px 0px 3px 0px;
}

.hero-title + p {
	margin: 0px 0px 42px 0px;
}

.proactivelly {
	color: #6b77e5;
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.27;
	margin: 0px 0px 12px 0px;
}

.benefits {
	font-size: 0;
	margin-bottom: 48px;
	padding-left: 50px;
}

.benefits > img {
	margin: 0px 12px 0px 0px;
}

.hero-block {
	display: inline-block;
}

.hero-subtitle {
	color: #37393f;
	font-family: "Poppins", sans-serif;
	font-size: 25px;
	font-weight: 600;
	line-height: 1.27;
	margin: 0px 175px 15px 0px;
}

.hero-subtitle + p {
	color: #40ddb6;
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.27;
	margin: 0px 0px 30px 0px;
}

.list {
	font-size: 18px;
	padding-left: 37px;
}

.credibly,
.holistically {
	display: block;
	margin: 0px 0px 36px 0px;
}

/* -------------------------------------  Jewellery     ---------------------------------------- */

.jewels {
	width: 1169px;
	margin: 0px auto 140px;
}

.jewels-text {
	width: 563px;
	margin: 0px 34px 0px 0px;
	padding: 45px 0px 21px 0px;
	display: inline-block;
	vertical-align: top;
}

.jewel {
	color: #d06b00;
	font-size: 28px;
	line-height: 1;
	text-transform: uppercase;
	margin: 0px 0px 13px 0px;
}

.jewels-title {
	color: #0e333d;
	font-family: "DM Serif Text", sans-serif;
	font-size: 59px;
	line-height: 1.47;
	text-transform: capitalize;
	margin: 0px 0px 25px 0px;
}

.jewels-text > p {
	color: #474747;
	font-size: 20px;
	line-height: 1.8;
}

.jewels-images {
	display: inline-block;
	font-size: 0;
}

.girl-jewel {
	margin: 0px 20px 0px 0px;
}
/* ====================================FOOTER================================ */

.display-none {
	display: none;
}
