/* Підключення вручну */

/* Zvin Serif */

@font-face {
	font-family: "Zvin Serif";
	src: url("../fonts/zvin_serif/ZvinSerif-Regular.woff2") format("woff2"), url("../fonts/zvin_serif/ZvinSerif-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Zvin Serif";
	src: url("../fonts/zvin_serif/ZvinSerif-SemiBold.woff2") format("woff2"),
		url("../fonts/zvin_serif/ZvinSerif-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Zvin Serif";
	src: url("../fonts/zvin_serif/ZvinSerif-Black.woff2") format("woff2"), url("../fonts/zvin_serif/ZvinSerif-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

/* Fixel */

@font-face {
	font-family: "Fixel";
	src: url("../fonts/fixel/FixelText-Thin.woff2") format("woff2"), url("../fonts/fixel/FixelText-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Fixel";
	src: url("../fonts/fixel/FixelText-Medium.woff2") format("woff2"), url("../fonts/fixel/FixelText-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Fixel";
	src: url("../fonts/fixel/FixelText-Bold.woff2") format("woff2"), url("../fonts/fixel/FixelText-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* NAMU */

@font-face {
	font-family: "NAMU 1400";
	src: url("../fonts/namu/NAMU-1400.woff2") format("woff2"), url("../fonts/namu/NAMU-1400.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "NAMU 1600";
	src: url("../fonts/namu/NAMU-1600.woff2") format("woff2"), url("../fonts/namu/NAMU-1600.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "NAMU 1750";
	src: url("../fonts/namu/NAMU-1750.woff2") format("woff2"), url("../fonts/namu/NAMU-1750.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "NAMU Pro";
	src: url("../fonts/namu/NAMU-Pro.woff2") format("woff2"), url("../fonts/namu/NAMU-Pro.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "NAMU Tryzub";
	src: url("../fonts/namu/NAMU-Tryzub.woff2") format("woff2"), url("../fonts/namu/NAMU-Tryzub.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* @font-face {
	font-family: "Causten";
	src: url("../fonts/Causten-Bold.woff2") format("woff2"), url("../fonts/Causten-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
} */
