/* Підключення шрифтів з Google Fonts */

@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,800italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Handjet:200,500,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair:300,700,500italic&display=swap");

@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

body {
	font-family: "Inter", sans-serif;
	font-size: 18px;
	color: #7d7d7d;
}

.title,
.subtitle {
	font-family: "Poppins", sans-serif;
	line-height: 1.27;
}

.title-services {
	color: #37393f;
	font-size: 30px;
}

.subtitle-services {
	color: #6b77e5;
	font-size: 20px;
}

.title-services,
.subtitle-services {
	font-weight: 600;
}

.subtile-information {
	color: #37393f;
	font-size: 40px;
	font-weight: 700;
}

.text {
	font-weight: 400;
	line-height: 1.46;
}

.list {
	font-weight: 500;
}

/*========================= Друга частина домашньої роботи =====================*/

/* --------------------Підключення через Goole Fonts-------------------------------- */

/* Open Sans */

.open-sans {
	font-family: "Open Sans", sans-serif;
	font-style: italic;
	color: rgb(64, 37, 158);
	text-indent: 30px;
}

.title-open {
	font-weight: 800;
	font-size: 35px;
	color: rgb(188, 231, 31);
	text-align: center;
	text-transform: capitalize;
}

.italic-300 {
	font-weight: 300;
}

.italic-600 {
	font-weight: 600;
}

.italic-800 {
	font-weight: 800;
}

/* Handjet */

.handjet {
	font-family: "Handjet", sans-serif;
	color: rgb(219, 37, 164);
}

.title-handjet {
	font-weight: 900;
	font-size: 35px;
	color: rgb(226, 88, 33);
	text-decoration: underline;
}

.handjet-200 {
	font-weight: 200;
	text-decoration: line-through;
}

.handjet-500 {
	font-weight: 500;
	text-decoration: overline;
}

.handjet-900 {
	font-weight: 900;
}

/* Playfair */

.playfair {
	font-family: "Playfair", serif;
	color: yellowgreen;
}

.title-playfair {
	font-weight: 700;
	font-size: 30px;
	color: green;
}

.playfair-300 {
	font-weight: 300;
	color: gold;
	text-transform: lowercase;
}

.playfair-500 {
	font-weight: 500;
	font-style: italic;
	color: rgb(66, 102, 12);
}

.playfair-700 {
	font-weight: 700;
	color: rgb(25, 212, 87);
}

/* ---------------------------------------Підключення вручну ---------------------*/

/* Zvin Serif */

.zvin {
	font-family: "Zvin Serif", serif;
	font-weight: 600;
}

.title-zvin {
	font-weight: 900;
	font-size: 40px;
	text-align: center;
}

.cyan {
	color: blue;
}

.yellow {
	color: rgba(238, 204, 11, 0.856);
}

.regular {
	font-weight: 400;
}

/* Fixel */

.fixel {
	font-family: "Fixel", sans-serif;
	font-weight: 100;
	color: rgb(224, 92, 158);
}

.title-fixel {
	text-align: center;
	font-weight: 700;
	font-size: 40px;
	color: green;
}

.bold {
	font-weight: 700;
	text-align: right;
}

.medium {
	font-weight: 500;
	text-align: justify;
}

/* NAMU */

.namu {
	font-family: "NAMU Pro", sans-serif;
}

.title-namu {
	text-align: center;
	font-size: 50px;
}

.center {
	text-align: center;
	text-transform: uppercase;
}

.author {
	word-spacing: 12px;
}

.author,
.middle-ages {
	font-family: "NAMU 1400", sans-serif;
}

.middle-ages {
	color: rgba(90, 5, 5, 0.904);
}

.desription,
.cossaks {
	font-family: "NAMU 1600", sans-serif;
}

.cossaks {
	color: rgba(90, 5, 5, 0.719);
}

.kings {
	font-family: "NAMU 1750", sans-serif;
	color: rgba(90, 5, 5, 0.61);
}

.abc {
	color: black;
	font-size: 25px;
	line-height: 2;
}

.tryzub {
	font-family: "NAMU Tryzub", sans-serif;
	color: rgb(22, 24, 22);
	line-height: 3;
	letter-spacing: 5px;
}

.glory {
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
}

.glory {
	text-shadow: -20px -20px 2px yellow;
}

.ukraine {
	text-shadow: 20px -20px 2px blue;
}
