/* ? ================================== practice ============================== */

@keyframes sec {
	0% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(540deg);
	}
}

@keyframes min {
	0% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(540deg);
	}
}

@keyframes hour {
	0% {
		transform: rotate(-90deg);
	}

	100% {
		transform: rotate(270deg);
	}
}

@keyframes left-item {
	0% {
		transform: rotate(45deg);
	}

	50% {
		transform: rotate(0deg);
	}
}

@keyframes right-item {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(-45deg);
	}
}

/* ? ========================== my car =========================== */

@keyframes road-run {
	0% {
		background-position: 0px;
	}

	100% {
		background-position: 16500px;
	}
}

@keyframes panzer {
	0% {
		transform: translate(25px, 10px);
	}

	50% {
		transform: translate(0px, 0px);
	}

	100% {
		transform: translate(-25px, -10px);
	}
}

@keyframes drone {
	100% {
		transform: translateX(400px);
	}
}

@keyframes drone1 {
	100% {
		opacity: 0;
	}
}

@keyframes boom {
	100% {
		opacity: 1;
	}
}

@keyframes scale {
	0% {
		transform: scale(0.5);
	}

	33.3% {
		transform: scale(1);
	}

	66.6% {
		transform: scale(0.8);
	}

	100% {
		transform: scale(2);
	}
}

@keyframes wheel {
	100% {
		transform: rotate(-360deg);
	}
}

@keyframes barrel-up {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(21deg);
	}
}

@keyframes barrel-down {
	100% {
		transform: rotate(0deg);
	}
}

@keyframes barrel-reverse {
	100% {
		transform: translateX(5px);
	}
}



@keyframes fire {
	50% {
		transform: scale(3);
	}

	100% {
		transform: scale(2);
	}
}

@keyframes fire-opacity {
	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}